#Minecraft server properties (LGSM 210516)
#Sat Aug 20 17:30:15 CEST 2016
allow-flight={{getenv "LGSM_ALLOW_FLIGHT" "false"}}
allow-nether={{getenv "LGSM_ALLOW_NETHER" "true"}}
announce-player-achievements={{getenv "LGSM_ANNOUNCE_PLAYER_ACHIEVEMENTS" "true"}}
difficulty={{getenv "LGSM_DIFFICULTY" "1"}}
enable-command-block={{getenv "LGSM_ENABLE_COMMAND_BLOCK" "false"}}
enable-query={{getenv "LGSM_ENABLE_QUERY" "true"}}
enable-rcon={{getenv "LGSM_ENABLE_RCON" "false"}}
query.port={{getenv "LGSM_QUERY_PORT" "25565"}}
force-gamemode={{getenv "LGSM_FORCE_GAMEMODE" "false"}}
gamemode={{getenv "LGSM_GAMEMODE" "0"}}
generate-structures={{getenv "LGSM_GENERATOR_STRUCTURES" "true"}}
generator-settings={{getenv "LGSM_GENERATOR_SETTINGS" ""}}
hardcore={{getenv "LGSM_HARDCORE" "false"}}
level-name={{getenv "LGSM_LEVEL_NAME" "world"}}
level-seed={{getenv "LGSM_LEVEL_SEED" ""}}
level-type={{getenv "LGSM_LEVEL_TYPE" "DEFAULT"}}
max-build-height={{getenv "LGSM_MAX_BUILD_HEIGHT" "256"}}
max-players={{getenv "LGSM_MAX_PLAYERS" "20"}}
max-tick-time={{getenv "LGSM_MAX_TICK_TIME" "60000"}}
max-world-size={{getenv "LGSM_MAX_WORLD_SIZE" "29999984"}}
motd={{getenv "LGSM_MOTD" "SERVERNAME"}}
network-compression-threshold={{getenv "LGSM_NETWORK_COMPRESSION_THRESHOLD" "256"}}
online-mode={{getenv "LGSM_ONLINE_MODE" "true"}}
op-permission-level={{getenv "LGSM_OP_PERMISSION_LEVEL" "4"}}
player-idle-timeout={{getenv "LGSM_PLAYER_IDLE_TIMEOUT" "0"}}
pvp={{getenv "LGSM_PVP" "true"}}
rcon.password={{getenv "LGSM_RCON_PASSWORD" "ADMINPASSWORD"}}
rcon.port={{getenv "LGSM_RCON_PORT" "25575"}}
resource-pack-sha1=
resource-pack=
server-ip={{getenv "LGSM_IP" ""}}
server-port={{getenv "LGSM_PORT" "25565"}}
snooper-enabled={{getenv "LGSM_SNOOPER_ENABLED" "true"}}
spawn-animals={{getenv "LGSM_SPAWN_ANIMALS" "true"}}
spawn-monsters={{getenv "LGSM_SPAWN_MONSTERS" "true"}}
spawn-npcs={{getenv "LGSM_SPAWN_NPCS" "true"}}
use-native-transport={{getenv "LGSM_USE_NATIVE_TRANSPORT" "true"}}
view-distance={{getenv "LGSM_VIEW_DISTANCE" "10"}}
white-list=false
