##################################
######## Instance Settings ########
##################################
# PLACE COMMON SETTINGS HERE
#

{{ range (datasource "env").envs -}}
{{ .name }}={{ .value }}
{{ end }}

{{if (getenv "LGSM_IP")}}ip={{.Env.LGSM_IP}}{{else}}#ip{{end}}
{{if (getenv "LGSM_PORT")}}port={{.Env.LGSM_PORT}}{{else}}#port{{end}}
{{if (getenv "LGSM_PORT")}}clientport={{math.Sub .Env.LGSM_PORT 10}}{{else}}#clientport{{end}}
{{if (getenv "LGSM_PORT")}}sourcetvport={{math.Add .Env.LGSM_PORT 5}}{{else}}#clientport{{end}}
{{if (getenv "LGSM_MAXPLAYERS")}}maxplayers={{.Env.LGSM_MAXPLAYERS}}{{else}}#LGSM_MAXPLAYERS{{end}}

#Gmod
{{if (getenv "LGSM_DEFAULTMAP")}}defaultmap={{.Env.LGSM_DEFAULTMAP}}{{else}}#LGSM_DEFAULTMAP{{end}}
{{if (getenv "LGSM_GAMEMODE")}}gamemode={{.Env.LGSM_GAMEMODE}}{{else}}#LGSM_GAMEMODE{{end}}
{{if (getenv "LGSM_WORKSHOPAUTH")}}workshopauth={{.Env.LGSM_WORKSHOPAUTH}}{{else}}#LGSM_WORKSHOPAUTH{{end}}
{{if (getenv "LGSM_WORKSHOPCOLLECTIONID")}}workshopcollectionid={{.Env.LGSM_WORKSHOPCOLLECTIONID}}{{else}}#LGSM_WORKSHOPCOLLECTIONID{{end}}

#Minecra#### LinuxGSM Advanced Settings ####
{{if (getenv "LGSM_JAVA_MEMORY")}}javaram={{.Env.LGSM_JAVA_MEMORY}}{{else}}#LGSM_JAVA_MEMORY{{end}}

#### LinuxGSM Advanced Settings ####

{{if (getenv "LGSM_ANSI")}}ansi={{.Env.LGSM_ANSI}}{{else}}#LGSM_ANSI{{end}}
{{if (getenv "LGSM_APPID")}}appid={{.Env.LGSM_APPID}}{{else}}#LGSM_APPID{{end}}
{{if (getenv "LGSM_BRANCH")}}branch="-beta {{.Env.LGSM_BRANCH}}"{{else}}#LGSM_BRANCH{{end}}

#### LinuxGSM Settings ####
#
## Notification Alerts
# (on|off)
# Email Alerts | https://github.com/GameServerManagers/LinuxGSM/wiki/Email
{{if (getenv "LGSM_EMAILALERT")}}emailalert={{.Env.LGSM_EMAILALERT}}{{else}}#emailalert{{end}}
{{if (getenv "LGSM_EMAIL")}}email={{.Env.LGSM_EMAIL}}{{else}}#email{{end}}
{{if (getenv "LGSM_EMAILFROM")}}emailfrom={{.Env.LGSM_EMAILFROM}}{{else}}#emailfrom{{end}}
#
# Pushbullet Alerts | https://github.com/GameServerManagers/LinuxGSM/wiki/Pushbullet
{{if (getenv "LGSM_PUSHBULLETALERT")}}pushbulletalert={{.Env.LGSM_PUSHBULLETALERT}}{{else}}#pushbulletalert{{end}}
{{if (getenv "LGSM_PUSHBULLETTOKEN")}}pushbullettoken={{.Env.LGSM_PUSHBULLETTOKEN}}{{else}}#pushbullettoken{{end}}
{{if (getenv "LGSM_CHANNELTAG")}}channeltag={{.Env.LGSM_CHANNELTAG}}{{else}}#channeltag{{end}}
#
## Updating | https://github.com/GameServerManagers/LinuxGSM/wiki/Update
{{if (getenv "LGSM_UPDATEONSTART")}}updateonstart={{.Env.LGSM_UPDATEONSTART}}{{else}}#updateonstart{{end}}
#
## Backup | https://github.com/GameServerManagers/LinuxGSM/wiki/Backup
{{if (getenv "LGSM_MAXBACKUPS")}}maxbackups={{.Env.LGSM_MAXBACKUPS}}{{else}}#maxbackups{{end}}
{{if (getenv "LGSM_MAXBACKUPDAYS")}}maxbackupdays={{.Env.LGSM_LGSM_MAXBACKUPDAYS}}{{else}}#maxbackupdays{{end}}
{{if (getenv "LGSM_STOPONBACKUP")}}stoponbackup={{.Env.LGSM_STOPONBACKUP}}{{else}}#stoponbackup{{end}}
#
## Logging | https://github.com/GameServerManagers/LinuxGSM/wiki/Logging
{{if (getenv "LGSM_CONSOLELOGGING")}}consolelogging={{.Env.LGSM_CONSOLELOGGING}}{{else}}#consolelogging{{end}}
{{if (getenv "LGSM_LOGDAYS")}}logdays={{.Env.LGSM_LOGDAYS}}{{else}}#logdays{{end}}
