defaults: &defaults 
    working_directory: ~/build
    docker: 
      - image: joshhsoj1902/circleci-build-image:1.0.8@sha256:87c9fcce5f5474f34407f12640fd89903070e4de467724294e687a4442d2fe0c
swarm_test: &swarm_test
    name: Start container & run tests
    command: | 
      docker swarm init
      docker stack deploy --compose-file ./docker-stack.yml game
      sleep 30
      retry -v -s 5 -t 12 'docker exec $(docker ps -q) "./docker-liveness.sh"'
      retry -v -s 5 -t 60 'docker exec $(docker ps -q) "./docker-readiness.sh"'
version: 2.1

orbs:
    docker: joshhsoj1902/docker@0.15.0

jobs:
  setup:
    <<: *defaults
    steps:
      - checkout
      - run: 
          name: setup workspace
          command: |
            cp -rp docker-compose.citest.yml docker-stack.yml Makefile scripts examples /tmp/workspace
            ls -ltr /tmp/workspace
            ls -ltr /tmp/workspace/examples
      - persist_to_workspace:
          root: /tmp/workspace
          paths: 
            - docker-compose.citest.yml
            - docker-stack.yml
            - examples
            - Makefile
            - scripts

  swarm:
    <<: *defaults
    steps:
      - setup_remote_docker:
          version: 17.11.0-ce
      - attach_workspace:
          at: /tmp/workspace
      - run: docker load -i /tmp/workspace/images.tar
      - run: cp /tmp/workspace/docker-stack.yml ./docker-stack.yml
      - run: docker tag joshhsoj1902/linuxgsm-docker:latest joshhsoj1902/linuxgsm-docker:local
      - run:
          <<: *swarm_test
workflows:
  version: 2
  build_and_test:
    jobs:
      - setup
      - docker/build:
          context: org-global
          tag: latest
          requires: 
            - setup
      # - docker/test:
      #     name: gomplate tests
      #     requires:
      #       - docker/build          
      - swarm:
          name: swarm-test
          requires:
            - docker/build
      - docker/container-health:
          name: compose-test
          composeFile: docker-compose.citest.yml
          command: docker-compose -f /tmp/workspace/docker-compose.citest.yml up
          service: game
          after_test: 
            - docker/compose-exec-retry:
                composeFilePath: /tmp/workspace/docker-compose.citest.yml
                service: game
                command: ./docker-readiness.sh
                sleep: 5
                tries: 60
          requires:
            - docker/build
    ### 7dtd ###    
      - docker/container-health:
          name: 7dtd-compose
          composeFile: examples/docker-compose.7dtd.yml
          command: docker-compose -f /tmp/workspace/examples/docker-compose.7dtd.yml up
          service: game
          after_test: 
            - docker/compose-exec-retry:
                composeFilePath: /tmp/workspace/examples/docker-compose.7dtd.yml
                service: game
                command: ./docker-readiness.sh
                sleep: 30
                tries: 30
          requires:
            - swarm-test
            - compose-test 
    ## ARK ###    
      - docker/container-health:
          name: ark-compose
          composeFile: examples/docker-compose.ark.yml
          service: game
          after_test: 
            - docker/compose-exec-retry:
                composeFilePath: /tmp/workspace/examples/docker-compose.ark.yml
                service: game
                command: ./docker-readiness.sh
                sleep: 5
                tries: 60
          requires:
            - swarm-test
            - compose-test  
    ### CSGO ###    
      - docker/container-health:
          name: csgo-compose
          composeFile: examples/docker-compose.csgo.yml
          command: docker-compose -f /tmp/workspace/examples/docker-compose.csgo.yml up
          service: game
          after_test: 
            - docker/compose-exec-retry:
                composeFilePath: /tmp/workspace/examples/docker-compose.csgo.yml
                service: game
                command: ./docker-readiness.sh
                sleep: 30
                tries: 60
          requires:
            - swarm-test
            - compose-test  
    ### CSS ###    
      - docker/container-health:
          name: css-compose
          composeFile: examples/docker-compose.css.yml
          command: docker-compose -f /tmp/workspace/examples/docker-compose.css.yml up
          service: game
          after_test: 
            - docker/compose-exec-retry:
                composeFilePath: /tmp/workspace/examples/docker-compose.css.yml
                service: game
                command: ./docker-readiness.sh
                sleep: 5
                tries: 60
          requires:
            - swarm-test
            - compose-test  
    ### GMOD ###    
      - docker/container-health:
          name: gmod-compose
          composeFile: examples/docker-compose.gmod.yml
          command: docker-compose -f /tmp/workspace/examples/docker-compose.gmod.yml up
          service: game
          after_test: 
            - docker/compose-exec-retry:
                composeFilePath: /tmp/workspace/examples/docker-compose.gmod.yml
                service: game
                command: ./docker-readiness.sh
                sleep: 5
                tries: 60
          requires:
            - swarm-test
            - compose-test
    ### INSS ###     
      - docker/container-health:
          name: inss-compose
          composeFile: examples/docker-compose.inss.yml
          command: docker-compose -f /tmp/workspace/examples/docker-compose.inss.yml up
          service: game
          after_test: 
            - docker/compose-exec-retry:
                composeFilePath: /tmp/workspace/examples/docker-compose.inss.yml
                service: game
                command: ./docker-readiness.sh
                sleep: 5
                tries: 60
          requires:
            - swarm-test
            - compose-test   
    ### Minecraft ###     
      - docker/container-health:
          name: minecraft-compose
          composeFile: examples/docker-compose.minecraft.yml
          command: docker-compose -f /tmp/workspace/examples/docker-compose.minecraft.yml up
          service: game
          after_test: 
            - docker/compose-exec-retry:
                composeFilePath: /tmp/workspace/examples/docker-compose.minecraft.yml
                service: game
                command: ./docker-readiness.sh
                sleep: 5
                tries: 60
          requires:
            - swarm-test
            - compose-test  
    ### Mumble ###   
#      - docker/container-health:
#          name: mumble-compose
#          composeFile: examples/docker-compose.mumble.yml
#          command: docker-compose -f /tmp/workspace/examples/docker-compose.mumble.yml up
#          service: game
#          requires:
#            - swarm-test
#            - compose-test  
    ## Pstbs ###   
      # - docker/container-health:
      #     name: pstbs-compose
      #     composeFile: examples/docker-compose.pstbs.yml
      #     command: docker-compose -f /tmp/workspace/examples/docker-compose.pstbs.yml up
      #     service: game
      #     after_test: 
      #       - docker/compose-exec-retry:
      #           composeFilePath: /tmp/workspace/examples/docker-compose.pstbs.yml
      #           service: game
      #           command: ./docker-readiness.sh
      #           sleep: 5
      #           tries: 60
      #     requires:
      #       - swarm-test
      #       - compose-test
    ### Wet ###   
      - docker/container-health:
          name: wet-compose
          composeFile: examples/docker-compose.wet.yml
          command: docker-compose -f /tmp/workspace/examples/docker-compose.wet.yml up
          service: game
          after_test: 
            - docker/compose-exec-retry:
                composeFilePath: /tmp/workspace/examples/docker-compose.wet.yml
                service: game
                command: ./docker-readiness.sh
                sleep: 5
                tries: 60
          requires:
            - swarm-test
            - compose-test
    ## Wurm ###   
      # - docker/container-health:
      #     name: wurm-compose
      #     composeFile: examples/docker-compose.wurm.yml
      #     service: game
      #     after_test: 
      #       - docker/compose-exec-retry:
      #           composeFilePath: /tmp/workspace/examples/docker-compose.wurm.yml
      #           service: game
      #           command: ./docker-readiness.sh
      #           sleep: 5
      #           tries: 60
      #     requires:
      #       - swarm-test
      #       - compose-test

