defaults: &defaults 
    working_directory: ~/build
    docker: 
      - image: joshhsoj1902/circleci-build-image:1.0.7@sha256:1090a162859845e7a5168c02b161ddf053b93a1e5a5f26351bbb3b25507a5974
swarm_test: &swarm_test
    name: Start container & run tests
    command: | 
      docker swarm init
      docker stack deploy --compose-file ./docker-stack.yml game
      retry -v -s 5 -t 60 'docker exec $(docker ps -q) "./docker-ready.sh"'
      retry -v -s 5 -t 10 'docker exec $(docker ps -q) "./docker-health.sh"'
version: 2.1

orbs:
    docker: joshhsoj1902/docker@0.0.1

jobs:
  setup:
    <<: *defaults
    steps:
      - checkout
      - run: 
          name: setup workspace
          command: |
            cp -rp docker-compose.citest.yml docker-stack.yml Makefile scripts examples /tmp/workspace
            ls -ltr /tmp/workspace
            ls -ltr /tmp/workspace/examples
      - persist_to_workspace:
          root: /tmp/workspace
          paths: 
            - docker-compose.citest.yml
            - docker-stack.yml
            - examples
            - Makefile
            - scripts

  swarm:
    <<: *defaults
    steps:
      - setup_remote_docker:
          version: 17.11.0-ce
      - attach_workspace:
          at: /tmp/workspace
      - run: docker load -i /tmp/workspace/images.tar
      - run: cp /tmp/workspace/docker-stack.yml ./docker-stack.yml
      - run: docker tag joshhsoj1902/linuxgsm-docker:latest joshhsoj1902/linuxgsm-docker:local
      - run:
          <<: *swarm_test
workflows:
  version: 2
  build_and_test:
    jobs:
      - setup
      - docker/build:
          context: org-global
          tag: latest
          requires: 
            - setup
      - docker/test:
          name: gomplate tests
          requires:
            - docker/build          
    #   - tests:
    #       requires:
    #         - docker/build
      - swarm:
          requires:
            - docker/build
      - docker/compose-test-health:
          name: compose-test
          composeFile: docker-compose.citest.yml
          service: game
          requires:
            - docker/build
    ### 7dtd ###
      - test-7dtd:
          type: approval      
      - docker/compose-test-health:
          name: 7dtd-compose
          composeFile: examples/docker-compose.7dtd.yml
          service: game
          requires:
            - test-7dtd
            - docker/build   
    ### CSS ###
      - test-css:
          type: approval      
      - docker/compose-test-health:
          name: css-compose
          composeFile: examples/docker-compose.css.yml
          service: game
          requires:
            - test-css
            - docker/build
    ### L4D2 ###
      - test-l4d2:
          type: approval    
      - docker/compose-test-health:
          name: l4d2-compose
          composeFile: examples/docker-compose.l4d2.yml
          service: game
          requires:
            - test-l4d2
    ### GMOD ###
      - test-gmod:
          type: approval      
      - docker/compose-test-health:
          name: gmod-compose
          composeFile: examples/docker-compose.gmod.yml
          service: game
          requires:
            - test-gmod
            - docker/build
    ### Minecraft ###
      - test-minecraft:
          type: approval      
      - docker/compose-test-health:
          name: minecraft-compose
          composeFile: examples/docker-compose.minecraft.yml
          service: game
          requires:
            - test-minecraft
            - docker/build
    ### Mumble ###
      - test-mumble:
          type: approval      
      - docker/compose-test-health:
          name: mumble-compose
          composeFile: examples/docker-compose.mumble.yml
          service: game
          requires:
            - test-mumble
            - docker/build

