defaults: &defaults 
    working_directory: ~/build
    docker: 
      - image: joshhsoj1902/circleci-build-image:better-copy
remote_docker_version: &remote_docker_version
    version: 17.11.0-ce
version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          <<: *remote_docker_version
      - run: 
          name: setup workspace
          background: true
          command: |
            cp -rp docker-compose.citest.yml docker-stack.yml examples /tmp/workspace
      - run:
          name: "Build image"
          command: |
            make build
      - run: docker save joshhsoj1902/linuxgsm-docker -o /tmp/workspace/images.tar
      - persist_to_workspace:
          root: /tmp/workspace
          paths: 
            - images.tar
            - docker-compose.citest.yml
            - docker-stack.yml
            - examples
  swarm:
    <<: *defaults
    steps:
      - setup_remote_docker:
          <<: *remote_docker_version
      - attach_workspace:
          at: /tmp/workspace
      - run: docker load -i /tmp/workspace/images.tar
      - run:
          name: Make logs dir
          command: |
            mkdir logs
      - run:
          name: Start Stack
          command: | 
            docker swarm init
            sleep 10
            docker stack deploy --compose-file /tmp/workspace/docker-stack.yml game
      - run:
          name: Delay a little bit
          command: sleep 60
      - run: 
          name: Inspect things
          command: |
            docker ps
            docker logs $(docker ps -q)
      - run:
          name: Test Swarm
          command: |
            docker exec $(docker ps -q) "./docker-health.sh"
  compose:
    <<: *defaults
    steps:
      - setup_remote_docker:
          <<: *remote_docker_version
      - attach_workspace:
          at: /tmp/workspace
      - run: docker load -i /tmp/workspace/images.tar
      - run:
          name: Make logs dir
          command: |
            mkdir logs
      - run:
          name: Start container
          command: docker-compose -f /tmp/workspace/docker-compose.citest.yml up -d
      - run:
          name: Delay a little bit
          command: sleep 60
      - run: 
          name: Inspect things
          command: |
            docker ps
            docker-compose -f /tmp/workspace/docker-compose.citest.yml logs game
      - run:
          name: "Test Compose"
          command: |
            docker-compose -f /tmp/workspace/docker-compose.citest.yml exec game  "./docker-health.sh"
  compose-css:
    <<: *defaults
    steps:
      - setup_remote_docker:
          <<: *remote_docker_version
      - attach_workspace:
          at: /tmp/workspace
      - run: docker load -i /tmp/workspace/images.tar
      - run:
          name: Make logs dir
          command: |
            mkdir logs
      - run:
          name: Start container
          command: docker-compose -f /tmp/workspace/examples/docker-compose.css.yml up -d
      - run:
          name: Delay a little bit
          command: sleep 60
      - run:
          name: "Test Compose"
          command: |
            docker-compose -f /tmp/workspace/examples/docker-compose.css.yml exec game  "./docker-health.sh"
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - swarm:
          requires:
            - build
      - compose:
          requires:
            - build
      - compose-css:
          requires:
            - build
