#Minecraft server properties (LGSM 210516)
#Sat Aug 20 17:30:15 CEST 2016
allow-flight={{if (getenv "LGSM_ALLOW_FLIGHT")}}{{.Env.LGSM_ALLOW_FLIGHT}}{{else}}false{{end}}
allow-nether={{if (getenv "LGSM_ALLOW_NETHER")}}{{.Env.LGSM_ALLOW_NETHER}}{{else}}true{{end}}
announce-player-achievements={{if (getenv "LGSM_ANNOUNCE_PLAYER_ACHIEVEMENTS")}}{{.Env.LGSM_ANNOUNCE_PLAYER_ACHIEVEMENTS}}{{else}}true{{end}}
difficulty={{if (getenv "LGSM_DIFFICULTY")}}{{.Env.LGSM_DIFFICULTY}}{{else}}1{{end}}
enable-command-block={{if (getenv "LGSM_ENABLE_COMMAND_BLOCK")}}{{.Env.LGSM_ENABLE_COMMAND_BLOCK}}{{else}}false{{end}}
enable-query={{if (getenv "LGSM_ENABLE_QUERY")}}{{.Env.LGSM_ENABLE_QUERY}}{{else}}false{{end}}
enable-rcon={{if (getenv "LGSM_ENABLE_RCON")}}{{.Env.LGSM_ENABLE_RCON}}{{else}}false{{end}}
force-gamemode={{if (getenv "LGSM_FORCE_GAMEMODE")}}{{.Env.LGSM_FORCE_GAMEMODE}}{{else}}false{{end}}
gamemode={{if (getenv "LGSM_GAMEMODE")}}{{.Env.LGSM_GAMEMODE}}{{else}}0{{end}}
generate-structures={{if (getenv "LGSM_GENERATOR_STRUCTURES")}}{{.Env.LGSM_GENERATOR_STRUCTURES}}{{else}}true{{end}}
generator-settings={{if (getenv "LGSM_GENERATOR_SETTINGS")}}{{.Env.LGSM_GENERATOR_SETTINGS}}{{end}}
hardcore={{if (getenv "LGSM_HARDCORE")}}{{.Env.LGSM_HARDCORE}}{{else}}false{{end}}
level-name={{if (getenv "LGSM_LEVEL_NAME")}}{{.Env.LGSM_LEVEL_NAME}}{{else}}world{{end}}
level-seed={{if (getenv "LGSM_LEVEL_SEED")}}{{.Env.LGSM_LEVEL_SEED}}{{end}}
level-type={{if (getenv "LGSM_LEVEL_TYPE")}}{{.Env.LGSM_LEVEL_TYPE}}{{else}}DEFAULT{{end}}
max-build-height={{if (getenv "LGSM_MAX_BUILD_HEIGHT")}}{{.Env.LGSM_MAX_BUILD_HEIGHT}}{{else}}256{{end}}
max-players={{if (getenv "LGSM_MAX_PLAYERS")}}{{.Env.LGSM_MAX_PLAYERS}}{{else}}20{{end}}
max-tick-time={{if (getenv "LGSM_MAX_TICK_TIME")}}{{.Env.LGSM_MAX_TICK_TIME}}{{else}}60000{{end}}
max-world-size={{if (getenv "LGSM_MAX_WORLD_SIZE")}}{{.Env.LGSM_MAX_WORLD_SIZE}}{{else}}29999984{{end}}
motd={{if (getenv "LGSM_MOTD")}}{{.Env.LGSM_MOTD}}{{else}}A Minecraft Server{{end}}
network-compression-threshold={{if (getenv "LGSM_NETWORK_COMPRESSION_THRESHOLD")}}{{.Env.LGSM_NETWORK_COMPRESSION_THRESHOLD}}{{else}}256{{end}}
online-mode={{if (getenv "LGSM_ONLINE_MODE")}}{{.Env.LGSM_ONLINE_MODE}}{{else}}true{{end}}
op-permission-level={{if (getenv "LGSM_OP_PERMISSION_LEVEL")}}{{.Env.LGSM_OP_PERMISSION_LEVEL}}{{else}}4{{end}}
player-idle-timeout={{if (getenv "LGSM_PLAYER_IDLE_TIMEOUT")}}{{.Env.LGSM_PLAYER_IDLE_TIMEOUT}}{{else}}0{{end}}
pvp={{if (getenv "LGSM_PVP")}}{{.Env.LGSM_PVP}}true{{end}}
rcon.password={{if (getenv "LGSM_RCON_PASSWORD")}}{{.Env.LGSM_RCON_PASSWORD}}{{else}}ADMINPASSWORD{{end}}
rcon.port={{if (getenv "LGSM_RCON_PORT")}}{{.Env.LGSM_RCON_PORT}}{{else}}25575{{end}}
resource-pack-sha1=
resource-pack=
server-ip={{if (getenv "LGSM_IP")}}{{.Env.LGSM_IP}}{{end}}
server-port={{if (getenv "LGSM_PORT")}}{{.Env.LGSM_PORT}}{{else}}25565{{end}}
snooper-enabled={{if (getenv "LGSM_SNOOPER_ENABLED")}}{{.Env.LGSM_SNOOPER_ENABLED}}{{else}}true{{end}}
spawn-animals={{if (getenv "LGSM_SPAWN_ANIMALS")}}{{.Env.LGSM_SPAWN_ANIMALS}}{{else}}true{{end}}
spawn-monsters={{if (getenv "LGSM_SPAWN_MONSTERS")}}{{.Env.LGSM_SPAWN_MONSTERS}}{{else}}true{{end}}
spawn-npcs={{if (getenv "LGSM_SPAWN_NPCS")}}{{.Env.LGSM_SPAWN_NPCS}}{{else}}true{{end}}
use-native-transport={{if (getenv "LGSM_USE_NATIVE_TRANSPORT")}}{{.Env.LGSM_USE_NATIVE_TRANSPORT}}{{else}}true{{end}}
view-distance={{if (getenv "LGSM_VIEW_DISTANCE")}}{{.Env.LGSM_VIEW_DISTANCE}}{{else}}10{{end}}
white-list=false