version: '3.1'
services:
  game:
    image: joshhsoj1902/linuxgsm-docker:latest
    ports:
      - 25565:25565
    environment:
      - LGSM_GAMESERVERNAME=mcserver
      - LGSM_UPDATEINSTALLSKIP=UPDATE
      - LGSM_IP=0.0.0.0
      - LGSM_PORT=25565
    volumes:
      - "/home/steam/linuxgsm/logs"
      - "/home/steam/linuxgsm/serverfiles"
